# to do
- test set has to be put in a goof form
- the promointerval was taken out until I can put it in a good form as well
- how to change the arrays inside an array as individual columns (otherwise I think SVM etc will not work)

In [38]:
import numpy as np
import pandas 
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import svm

In [19]:
numberstoretype = [4]
numberassortment = [3]
numberstateholiday = [4]

In [20]:
store = pandas.read_csv('store.csv')
train = pandas.read_csv('train_v2.csv',dtype={"StateHoliday": str})
test = pandas.read_csv('test_v2.csv') #it's given in a ugly form we have to put it nicely

In [21]:
def encode(data, type, number ) :
    #keep only the one we need to do one hot encoding
    #X = df[['DayOfWeek','StoreType','Assortment', "Promo2SinceWeek","Promo2SinceYear" ]]
    X = data[[type]]
    # encode labels with value between 0 and n_classes-1.
    
    le = preprocessing.LabelEncoder()
    
    X_2 = X.apply(le.fit_transform)
    
    enc = preprocessing.OneHotEncoder(n_values=number)
    #fit the model
    enc.fit(X_2)
    
    # do the one hot encoder 
    onehotlabels = enc.transform(X_2).toarray()
    
    return onehotlabels

In [22]:
# take out the stores with no sales - 
train = train[train.Sales != 0]

# put the 2 types of data together
df = train.merge(store, on='Store')

# extract the date as day/month/year/weak of the year
df['Date']  = pandas.to_datetime(df['Date'], errors='coerce')
df['Year']  = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['WeekOfYear'] = df['Date'].dt.weekofyear

In [23]:
#deal with the NaN Values --> for now I just put them at 0 !
df = df.fillna(0)

# mappings = {'0': 0, 'a': 1, 'b': 2, 'c': 3, 'd': 4}
# 
# mappings_month = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 
#                   5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 
#                   9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
# 
# df.StoreType.replace(mappings, inplace=True)
# df.Assortment.replace(mappings, inplace=True)
# df.StateHoliday.replace(mappings, inplace=True)
# df.PromoInterval.replace(mappings_month, inplace=True)

store_type_onehot = encode (df, 'StoreType',numberstoretype)
assortment_onehot = encode (df, 'Assortment',numberassortment)
state_holiday_onehot = encode (df, 'StateHoliday',numberstateholiday)

In [25]:
df['StoreType'] = store_type_onehot.tolist()
df['Assortment'] = assortment_onehot.tolist()
df['StateHoliday'] = state_holiday_onehot.tolist()

In [40]:
#take out the sales (we don't have this info in the test)
sales_test = df['Sales']
#take out customers (we don't have this info in the test)
customer_test = df['Customers']

dfdata = df


#the store number is irrelevant
dfdata = dfdata.drop('Store', axis=1)

# we have no info on customers in test set
dfdata = dfdata.drop('Customers', axis=1)

#the promointerval is a pain so I drop it for now
dfdata = dfdata.drop('PromoInterval', axis=1)

#take the sales out (it's what we want to find)
dfdata = dfdata.drop('Sales', axis=1)

#take out date column now useless
dfdata = dfdata.drop('Date', 1)

In [41]:
# if (dfdata['CompetitionOpenSinceYear'].loc[1] == 0) :
#     dfdata['month_competition'].loc[1] = 0
# else :
#     dfdata['month_competition'].loc[1] = 1


#--------------- no using it for now------------------------
year_diff = dfdata['Year'] - dfdata['CompetitionOpenSinceYear']

In [42]:
dfdata

,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Year,Month,Day,WeekOfYear
0,5,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,30,5
1,4,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,29,5
2,3,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,28,5
3,2,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,27,5
4,1,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,26,5
5,6,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,24,4
6,5,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,23,4
7,4,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,22,4
8,3,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,21,4
9,2,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,20,4
10,1,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,19,4
11,6,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,17,3
12,5,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,16,3
13,4,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,15,3
14,3,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,14,3
15,2,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,13,3
16,1,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,12,3
17,6,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,10,2
18,5,1,1,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,9,2
19,4,1,1,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,8,2
20,3,1,1,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,7,2
21,2,1,1,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,6,2
22,1,1,1,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,5,2
23,6,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,3,1
24,5,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2015,1,2,1
25,3,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2014,12,31,1
26,2,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2014,12,30,1
27,1,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2014,12,29,1
28,6,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2014,12,27,52
29,3,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[0.0, 0.0, 1.0, 0.0]","[1.0, 0.0, 0.0]",1270.0,9.0,2008.0,0,0.0,0.0,2014,12,24,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54658,5,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2015,1,2,1
54659,3,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,31,1
54660,2,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,30,1
54661,1,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,29,1
54662,6,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,27,52
54663,3,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,24,52
54664,2,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,23,52
54665,1,1,0,"[1.0, 0.0, 0.0, 0.0]",1,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,22,52
54666,6,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,20,51
54667,5,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,19,51
54668,4,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,18,51
54669,3,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,17,51
54670,2,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,16,51
54671,1,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,15,51
54672,6,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,13,50
54673,5,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,12,50
54674,4,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,11,50
54675,3,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,10,50
54676,2,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,9,50
54677,1,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,8,50
54678,6,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,6,49
54679,5,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,5,49
54680,4,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,4,49
54681,3,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,3,49
54682,2,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,2,49
54683,1,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,12,1,49
54684,6,1,0,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,11,29,48
54685,5,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,11,28,48
54686,4,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,11,27,48
54687,3,1,1,"[1.0, 0.0, 0.0, 0.0]",0,"[1.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0]",180.0,0.0,0.0,1,5.0,2013.0,2014,11,26,48

In [32]:
#put the data as a numpy array
data_test = dfdata.as_matrix()
dfdata_test.shape

(54688, 18)

In [37]:
#print (data[:,4])

In [39]:
test

      Store,"DayOfWeek","Date","Customers","Open","Promo","StateHoliday","SchoolHoliday"
0                         1,5,2015-07-31,555,1,1,"0","1"
1                         2,5,2015-07-31,625,1,1,"0","1"
2                         3,5,2015-07-31,821,1,1,"0","1"
3                        4,5,2015-07-31,1498,1,1,"0","1"
4                         5,5,2015-07-31,559,1,1,"0","1"
5                         6,5,2015-07-31,589,1,1,"0","1"
6                        7,5,2015-07-31,1414,1,1,"0","1"
7                         8,5,2015-07-31,833,1,1,"0","1"
8                         9,5,2015-07-31,687,1,1,"0","1"
9                        10,5,2015-07-31,681,1,1,"0","1"
10                      11,5,2015-07-31,1236,1,1,"0","1"
11                       12,5,2015-07-31,962,1,1,"0","1"
12                       13,5,2015-07-31,568,1,1,"0","0"
13                       14,5,2015-07-31,710,1,1,"0","1"
14                       15,5,2015-07-31,766,1,1,"0","1"
15                       16,5,2015-07-31,979,1,1,"0","1"
16                       17,5,2015-07-31,946,1,1,"0","1"
17                       18,5,2015-07-31,936,1,1,"0","1"
18                       19,5,2015-07-31,718,1,1,"0","1"
19                       20,5,2015-07-31,974,1,1,"0","0"
20                       21,5,2015-07-31,682,1,1,"0","1"
21                       22,5,2015-07-31,633,1,1,"0","0"
22                       23,5,2015-07-31,560,1,1,"0","1"
23                      24,5,2015-07-31,1082,1,1,"0","1"
24                      25,5,2015-07-31,1586,1,1,"0","1"
25                       26,5,2015-07-31,611,1,1,"0","1"
26                      27,5,2015-07-31,1263,1,1,"0","1"
27                       28,5,2015-07-31,663,1,1,"0","1"
28                       29,5,2015-07-31,737,1,1,"0","1"
29                       30,5,2015-07-31,625,1,1,"0","1"
...                                                  ...
33420                  1086,4,2015-07-02,786,1,1,"0","0"
33421                  1087,4,2015-07-02,661,1,1,"0","0"
33422                  1088,4,2015-07-02,474,1,1,"0","1"
33423                  1089,4,2015-07-02,973,1,1,"0","1"
33424                  1090,4,2015-07-02,834,1,1,"0","0"
33425                  1091,4,2015-07-02,738,1,1,"0","0"
33426                 1092,4,2015-07-02,1007,1,1,"0","0"
33427                  1093,4,2015-07-02,903,1,1,"0","0"
33428                  1094,4,2015-07-02,350,1,1,"0","0"
33429                  1095,4,2015-07-02,656,1,1,"0","0"
33430                  1096,4,2015-07-02,631,1,1,"0","1"
33431                 1097,4,2015-07-02,3070,1,1,"0","0"
33432                  1098,4,2015-07-02,690,1,1,"0","0"
33433                 1099,4,2015-07-02,1208,1,1,"0","0"
33434                  1100,4,2015-07-02,567,1,1,"0","1"
33435                 1101,4,2015-07-02,1011,1,1,"0","0"
33436                  1102,4,2015-07-02,676,1,1,"0","0"
33437                  1103,4,2015-07-02,410,1,1,"0","0"
33438                  1104,4,2015-07-02,420,1,1,"0","0"
33439                  1105,4,2015-07-02,511,1,1,"0","1"
33440                  1106,4,2015-07-02,580,1,1,"0","0"
33441                  1107,4,2015-07-02,625,1,1,"0","0"
33442                  1108,4,2015-07-02,667,1,1,"0","0"
33443                  1109,4,2015-07-02,424,1,1,"0","0"
33444                  1110,4,2015-07-02,626,1,1,"0","0"
33445                  1111,4,2015-07-02,329,1,1,"0","1"
33446                  1112,4,2015-07-02,577,1,1,"0","1"
33447                  1113,4,2015-07-02,793,1,1,"0","0"
33448                 1114,4,2015-07-02,3784,1,1,"0","0"
33449                  1115,4,2015-07-02,452,1,1,"0","0"

[33450 rows x 1 columns]

In [ ]:
print "validation for Linear kernel"
C_list = [1, 10, 100, 1000]

for cost in C_list:
    clf = svm.SVC(kernel='linear', C=cost).fit(data_test, )
    acc = clf.score(X_test, y_test)
    print('(c= {cost:4d})==> accuracy = {acc:.3f}.'.format(cost= cost, acc = acc))